{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.Sobre-imagem{
    width: 25%;
}

.Sobre{
    background-image: linear-gradient (white);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.Sobre-div-conteudo{
    width: 35%;
}


.Sobre-titulo{
    padding: 40px 0;
}

.Tipos de bebidas{
    padding: 24px 0;
}
.Tipos de bebidas-imagem{
    width: 150px;
}

.Tipos de bebidas -icone{
    width: 24px;
    padding: 4px 8px;
}

.Tipos de bebidas-div{
    text-align: center;
    padding: 16px 0;
}

.Tipos de bebidas-titulo{
    text-align: center;
    padding: 24px 0;
}

.Tipos de bebidas-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-image: linear-gradient (white) ;
    text-align: black;
}

.rodape-imagem{
    background-color: black;
    padding: 24px 0;
   
}
